  <div class="row">
    <div class="col-md">
      <h4 class="itemname">
        <%= "Item details for #{@item.name}" %>
      </h4>
    </div>
  </div>
  <table class="table">
    <thead class="thead-light">
      <tr class="items_header">
        <th>Description</th>
        <th>Listed</th>
        <th>Status</th>
        <th>Deliverable</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr class="item">
        <td class="itemdesc">
          <%= @item.description %>
        </td>
        <td class="itemprice">
          <%= number_to_currency(@item.price) %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to("Back to product list", items_path, :class => "btn btn-primary") %>

