<h2>Please log in using SSO.</h2>
<%= link_to "Back to home page", root_path %>
<!-- users only get to this page if they manually edit the URL to users/sign_in, but need to keep this file here because of Devise-->
