<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Dear: <%= @seller.name %> </h1>
    <p>
        <%= @buyer.name %> is interested in your product <%= @item.name %> <br>
        You can contact buyer at <%= @buyer.email %>. 
    </p>
    <p>Thanks & have a great day! :) </p>
  </body>
</html>